body {
	font-family: Trebuchet MS”, Trebuchet, Arial, sans-serif;
}

p {
	margin: 0;
}


.class-container {
	width: 1024px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing:  border-box;
}


.class-header {
	background: #4a4f56;
	overflow: hidden;
	padding: 15px 0;
}


